<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard Profesor</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <h2>Bienvenido al panel del profesor</h2>
    <p>Consulta tus cursos, actividades y estudiantes asignados.</p>

    <div>
      <strong>Acciones rápidas</strong>
      <ul>
        <li>Crear clase</li>
        <li>Ver estudiantes</li>
        <li>Revisar tareas</li>
      </ul>
    </div>


  </div>
</ion-content>
